body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-pri);
    color: var(--font-color);
}

:root {
    --bg-color-pri:#1b2ea3;
    --bg-color-sec: #182577;
    --bg-hover: #2228e2;
    --border-color: #E9F5FE;
    --shadow-color: #E9F5FE;
    --font-color: white;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

main .container {
    width: 30%;
}

main form {
    display: flex;
    flex-direction: column;
    padding: 7px;
}

main form input {
    background-color: var(--bg-color-sec);
    box-shadow: inset 0 -2px 0 var(--shadow-color);
    color: var(--font-color);
    padding: 10px;
    font-size: 25px;
    border-radius: 3px;
    margin-bottom: 2%;
    cursor: pointer;
    transition-duration: 0.3s;
}

main form input:hover {
    background-color: var(--bg-hover);
    transition-duration: 0.3s;
    box-shadow: inset 0 -3.5px 0 var(--shadow-color),
    5px 1px 10px var(--bg-color-sec);
    transform: scale(1.01);
    letter-spacing: 1px;
}

main form label {
    margin-top: 1%;
    padding: 3px;
    font-size: 1.2rem;
    cursor: pointer;
}

main form fieldset {
    padding: 3px;
    display: flex;
    flex-direction: column;
}

main form fieldset legend {
    font-size: 1.3rem;
    padding: 3px;
}

main form .btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main form button {
    width: 35%;
    padding: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 3px;
    background-color: var(--bg-color-sec);
    border: 1px solid var(--border-color);
    color: var(--font-color);
    transition-duration: 0.2s;
}

main form button:hover {
    background-color: var(--bg-hover);
    transition-duration: 0.2s;
}